@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor0: #C2ECF9;
    --cor1: #287598;
    --cor2: #032D47;
    --sans-serif: 'Roboto', sans-serif;
    --display: 'Bungee', cursive;
}

*{
    margin: 0;
}

body{
    font-family: var(--sans-serif);
    background-color: white;
}

header{
    height: 200px;
    padding: 5px;
    margin-bottom: 10px;
    background-image: linear-gradient(180deg, var(--cor0), transparent);
    position: relative;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: 2em;
    letter-spacing: 0.2em;
    font-family: var(--display);
}

header p {
    margin: 0;
    font-size: 1.2em;
}

main{
    display: block;
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    padding: 10px;
    font-family: var(--sans-serif);
}

section#servicos{
    display: block;
    margin: auto;
}

#caixa-das-caixas{
    width: 525px;
    margin: auto;
}

#caixinha-das-caixas{
    width: 280px;
    margin: auto;
}

div.caixa {
    position: relative;
    margin-right: 10px;
    margin-bottom: 21px;
	max-width: 250px;
    min-width: 110px;
    text-align: center;
	display: inline-block;
}

div.contatos {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.contatos-phone {
    display: block;
}

h1.contatos{
    text-align: center;
    font-size: 2em;
    margin-bottom: 21px;
}

div.caixa2 {
    margin-right: 50px;
    margin-bottom: 21px;
	max-width: 50px;
    min-width: 50px;
	display: inline-block;
}

div.contatos-phone > a{
    position: relative;
}

div.caixa3{
    width: 143px;
    margin-right: 50px;
    margin-bottom: 21px;
	max-width: 50px;
    min-width: 50px;
    display: block;
}

p.contatos-phone{
    position: absolute;
    height: 143px;
    top: 50%;
    margin-top: 16px;
    width: 143px;
    left: 50%;  
    margin-left: 75px;
}

.caixa img{
    float: left;
    max-width: 100%;
    min-width: 25%;
}

.contatos img{
    float: none;
    display: inline-block;
    max-width: 100%;
    min-width: 25%;
}

section.galeria {
    display: block;
    margin: auto;
}

h1.galeria{
    text-align: center;
    font-size: 2em;
    margin-bottom: 21px;
}

div.galeria{
    margin: auto;
    width: 720px;
}

.galeria img{
    display: inline-block;
    border: 5px black solid;
    width: 25%;
}

footer.rodape{
    display: block;
    text-align: center;
    background-color: black;
    color: white;
}

footer.rodape a{
    background-color: #032D47;
    padding: 1px;
    border-radius: 5px 10px;
    color: var(--cor0);
    text-decoration: none;
}

div.rodape{
    padding: 5px;
    margin: auto;
}